<body style='background-color:<%= @user.background_colour%>'>

<div id='profileBody' class="container" style='font-family:"<%= @user.font %>";'>
  <div class="row">
    <div class="col-sm">
      <h1> Welcome to Your profile <%= @user.username %> </h1>
    </div>
    <div class="col-sm">
      <% if current_user.id == @user.id %>
        <%= react_component 'FontSelect' %>
        <%= react_component 'ColourSelect' %>
        <%= react_component 'SubmitButton' %>
      <% end %>

    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm">
      <h3>Add a post:</h3>
      <%= render "form" %>

      <h3> Here are your posts </h3>
      <% @posts.reverse.each do |post| %>
      <div class='wall_post'>
        <%= simple_format(post.message) %>
        <% if user_made_this_post(post)  %>
          <%= link_to post_path(post[:id]), method: :delete do %>
          Delete post
          <% end %>
          <%= link_to ('profiles/' + @user.id.to_s + '/posts/' + post.id.to_s + '/edit') do %>
          Edit post
          <% end %>
        <% end %>
        <table>
          <tr>
            <td>
              <% like_checker = post.likes.find { |like| like.user_id == current_user.id } %>
              <% if like_checker %>
              <%= button_to 'Unlike', post_like_path(post[:id], like_checker), method: :delete %>
              <% else %>
              <%= button_to 'Like', post_likes_path(post[:id]), method: :post %>
              <% end %>
            </td>
            <td>
              <%= button_to 'Comments', post_url(post[:id]), method: :get %>
            </td>
          </tr>
          <tr>
            <td>
              <p><%= post.likes.count %> <%= post.likes.count == 1 ? 'Like' : 'Likes'%></p>
            </td>
            <td>
              <p><%= post.comments.count %> <%= post.comments.count == 1 ? 'Comment' : 'Comments'%></p>
            </td>
          </tr>
        </table>
        <hr>
      </div>
      <% end %>
    </div>

    <div class="col-sm">
      <h3>Image Posts</h3>
      <hr>
      <% @image_posts.reverse.each do |image_post| %>
        <h2><%= image_post.caption %></h2>
        <%= image_tag image_post.picture_url, width: '100%' if image_post.picture.present? %>
        <%= link_to 'Show', image_post %>
        <% if user_made_this_post(image_post) %>
          <%= link_to 'Edit', edit_image_post_path(image_post) %>
          <%= link_to 'Destroy', image_post_path(image_post, profile_id: @user.id), method: :delete %>
        <% end %>
        <table>
          <tr>
            <td>
              <% image_like_checker = image_post.image_likes.find { |like| like.user_id == current_user.id } %>
              <% if image_like_checker %>
              <%= button_to 'Unlike', image_post_image_like_path(image_post[:id], image_like_checker), method: :delete %>
              <% else %>
              <%= button_to 'Like', image_post_image_likes_path(image_post[:id]), method: :post %>
              <% end %>
            </td>
            <td>
              <%= button_to 'Comments', image_post_url(image_post[:id]), method: :get %>
            </td>
          </tr>
          <tr>
            <td>
              <p><%= image_post.image_likes.count %> <%= image_post.image_likes.count == 1 ? 'Like' : 'Likes'%></p>
            </td>
            <td>
              <p><%= image_post.image_comments.count %> <%= image_post.image_comments.count == 1 ? 'Comment' : 'Comments'%></p>
            </td>
          </tr>
        </table>
        <hr>
      <% end %>
    </div>
  </div>
</div>
